@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
/* variables */

/*these variables will be used throughout the CSS*/
:root{
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #000000;
    --primary-color: #12f60a;
    --secondary-color: #79706d;
    --primary-shadow: #12f60a;
    --secondary-shadow: #12f60a;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

/*on hovering the color changes*/
a:hover{
    color: var(--secondary-color);
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-family);
}

nav{
    position: sticky; /* remains at the top*/
    top: 0;
    left: 0;
    z-index: 1; /*making sure that the navbar displays over any other element*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 3px var(--primary-shadow);
}

nav h1{
    color: var(--primary-color);
}

nav a{
    color: var(--primary-color);
    transition: var(--transition); /* there is some delay for 0.3s*/
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: var(--secondary-color); /* bar appears below the text if mouse hovers */
}

nav ul{
    display: flex;
    gap: 1.9rem;
}

nav ul li{
    font-weight: var(--bold-font);
}

ion-icon {
    color: var(--primary-color);
  }

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 70rem;
    margin: auto;
}

.hero img{   
    height: 37rem;
    width: 37rem;
}

.bio{   
    background-color: var(--bg-color);
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 0px 11px 8px var(--primary-color);
}

.bio h2{
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.bio-title{
    color: var(--primary-color);
}
.bio p{
    color: var(--primary-color);
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.content{
    background-color: var(--bg-color);
    color: var(--primary-color);    
}
.more-about{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--bg-color);*/
    padding: 1rem 6rem;
    padding: 0.625rem;
    
    
    /*
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-color);
    */
}

.more-about-h2{
    color: var(--primary-color);
    text-align: center;
}

.more-about-me{
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--bg-color);
    width: 80rem;
    padding: 4.625rem;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 0px var(--primary-color);
}
.college{
    display: flex;
    padding-right: 1.25rem;
    /*flex-basis: 40%;*/
}

.college img{
    height: 25rem;
    width: 35rem;
}

.education{
    color: var(--primary-color);
    padding-left: 30px;
}

.experience{
    color: var(--primary-color);
    padding-left: 30px;
}

.content-a {
    color: var(--primary-color);
    max-width: 750px;
}

.disc li {
    color: var(--primary-color);
    list-style-type: disc;
    margin-left: 50px;
    font-weight: 400;
    line-height: 2;
    
}

.circle li {
    list-style: circle;
    margin-left: 50px;
    
}



.more-about p{
    color: var(--primary-color);
    line-height: var(--line-height);
    padding: 0.4rem;
}

.skills{
    color: var(--primary-color);
    max-width: 70rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header{
    margin-bottom: 1rem;
}

.skills-wrapper img{
    padding: 1.25rem;
}

.icon{
    width: 12rem;
    height: 11rem;
}

.icon-card{
    background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow: 0 3px 5px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

/*projects section*/
.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-color);
}

.project-pic{
    width: 60%;
    height: 60%;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title{
    color:var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.project-container{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p{
    padding: 0.4rem;
}

.project-title{
    color:var(--primary-color);
    margin-bottom: var(--bottom-margin);
}

.project-details{
    margin-bottom: var(--bottom-margin);
}

.project-card{

    background-color:var(--bg-color);
    color: var(--primary-color);
    text-align: center;   
    border-radius: 11px;
    box-shadow: 0 3px 5px var(--primary-shadow);
    padding: 30px;
    margin: 10px;
}

/*Contact styling*/
.contact{
    margin-top: 2rem;
}

.contact-title{
    color:var(--primary-color);
}
.contact h2{
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container{
    background-color: #000000;
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label{
    background-color: #000000;
    line-height: 2.7rem;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea{
    background-color: #000000;
    color: var(--primary-color);
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field{
    background-color: #000000;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder{
    padding: 0.5rem;
    color: var(--primary-color);
}

/*styling submit button*/
.submit-btn{
    background-color: #12f60a;
    width: 100%;
    padding: 10px;
    margin: 10px 0;    
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover{
    background-color: rgb(253, 47, 10);
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

/*Social Media icons*/
.social-socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.socicon{
    color: var(--primary-color);
    width: 2rem;
    height: 2rem;
}

footer{
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.scroll-up{
    
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow{
    width: 3rem;
    height: 3rem;
}

/* General (utilities) */
.icon-card {
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;

}

.project-card {
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}
/* media query breakpoints 
points I want the content of a website to respond
accot=rding to the width of a device*/


@media  screen and (max-width:720px){
    nav {
        padding: 1.5rem 1rem;
      }
      nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
      }
    
      nav ul li {
        margin: 8px;
      }
    
      .burger-menu {
        display: block;
      }
    
      nav ul.show {
        transform: translateX(0);
      }
    
      .hero {
        margin-top: -4rem;
        flex-direction: column;
        gap: 0;
      }
    
      .hero img {
        height: 32.5rem;
    width: 26rem;
      }
    
      .bio {
        margin-top: -4rem;
        width: 21.5rem;
      }
    
      .more-about {
        margin-top: 2rem;
        padding: 1rem -0.5rem;
        flex-direction: column;
      }
    
      .more-about-h2 {
          margin-top: 30px;
        text-align: center;
        padding: 25px;
        margin-bottom: -51px;
      }
    
    .more-about-me{
        padding: 0px;
        margin-left: 546px;
    }

    .education{
        margin-left: 7px;
    }

    
      .college{
          height: 31rem;
          width: 22rem;
      }
      .more-about p {
        text-align: justify;
      }
    
      .icon {
        width: 5.875rem;
        height: 5.25rem;
      }
    
      .projects-container {
        flex-direction: column;
      }
    
      .project-container {
        width: 20.875rem;
      }
    
      .contact-form-container {
        max-width: 23.75rem;
      }

}



@media screen and (max-width: 420px) {
    .hero img {
        height: 37.5rem;
        width: 23rem;
    }

    .bio {
    width: 18.3rem;
    }

    .project-container {
        width: 17.875rem;
    }

    .contact-form-container {
        max-width: 17.75rem;
    }
} 
